.long-horizontal-element-wrapper {
    width: 614px;
    height: 150px;

    font-family: 'Sangha', sans-serif;
    color: #ffffff;

    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.long-horizontal-element-gradient-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.long-horizontal-element-grad {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(2,21,38,0.8492530801383054) 100%);
    z-index: 2;
    border-radius: 10px;
}

.long-horizontal-element-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;
}

.long-horizontal-element-text-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.long-horizontal-element-text {
    font-size: 18px;
    padding: 10px;
}

