.circle-big-wrapper {
    width: 200px;
    height: 200px;
}

.circle-big-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.circle-big-image-nick {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: "Old Standard TT", serif;
    font-weight: bold;
    font-size: 20px;
    color: #674188;
    text-transform: uppercase;
    text-align: center;
}