.search-bar-wrapper {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 100%;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.search-bar-input {
    width: calc(100% - 30px);
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #021526;
    font-family: "Old Standard TT", serif;
}

.search-bar-input::placeholder {
    color: rgba(2, 21, 38, 0.5);
}

.search-bar-img {
    width: 15px;
    height: 15px;
}
